$strokeColor: #9E9E9E;
$logoColor: $color-primary;
$size: 140px;
$totalAnim: 9s;
$delay: 1s;
$svgSize: 70;
$squareLen: $svgSize * 4;
$lineLen: $svgSize;
$linesPerSide: 6;
$strokeLen: 600;
$fillLen: 290;

.logo {
  z-index: 10000;
  position: fixed;
  left: 10rem;
  top: 10rem;
  margin-left: $size/-2;
  margin-top: $size/-2;
  width: $size;
  height: $size;
  overflow: visible;
  transform: scale(.3);
  @media only screen and( max-width: $bp-small){
    left: 7rem;
    top: 7rem;
    transform: scale(.25);
  }

  &__mainGroup {
    transform-origin: 35px 35px;
    animation: mainGroupAnim $totalAnim $delay ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;

  }

  &__grayGroup {
    animation: grayGroupAnim $totalAnim $delay ;
    animation-iteration-count: 1;
    animation-delay: 4s;

  }

  &__square {
    stroke: $strokeColor;
    stroke-dasharray: $squareLen, $squareLen;
    stroke-dashoffset: $squareLen;
    animation: square-anim $totalAnim $delay ;
    animation-iteration-count: 1;
    animation-delay: 4s;

  }



  &__stroke {
    stroke: $logoColor;
    stroke-dasharray: $strokeLen, $strokeLen;
    stroke-dashoffset: $strokeLen;
    animation: strokeAnim $totalAnim $delay ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 4s;

  }

  &__fill {
    z-index: 100000;
    stroke: $logoColor;
    stroke-dasharray: $fillLen, $fillLen;
    stroke-dashoffset: $fillLen;
    animation: fillAnim $totalAnim $delay ;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    //animation: bubble 5s forwards;
  }
}

@keyframes square-anim {
  12% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}


@keyframes mainGroupAnim {
  26% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-45deg);
  }
  95% {
    transform: rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg);
    opacity: 1;
  }
}

@keyframes grayGroupAnim {
  33% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes strokeAnim {
  33% {
    stroke-dashoffset: $strokeLen;
  }
  66% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fillAnim {
  66% {
    stroke-dashoffset: $fillLen;
  }
  85% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dot {
  0% {
    top: 9.6rem;
    left:10.6rem;
  }
  25% {
    top: 10.7rem;
    left:9.8rem;
  }
  50% {
    top: 9.8rem;
    left:8.8rem;
  }
  75% {
    top: 8.8rem;
    left:9.8rem;
  }
  100% {
    top: 9.6rem;
    left:10.6rem;

  }
}
@keyframes dotMobile {
  0% {
    top: 6.4rem;
    left:7.5rem;
  }
  25% {
    top: 7.6rem;
    left:6.7rem;
  }
  50% {
    top: 6.7rem;
    left:5.7rem;
  }
  75% {
    top: 5.7rem;
    left:6.7rem;
  }
  100% {
    top: 6.5rem;
    left:7.5rem;

  }
}
.logo__dot{
  z-index: 10000;
  position:fixed;
  top: 8.8rem;
  left:9.8rem;
  border-radius: 50%;
  height: 6px;
  width: 6px;

  visibility: hidden;
  opacity: 0;
  @media only screen and(max-width: $bp-small){
    top: 5.8rem;
    left:6.8rem;
  }
  &.active{
    visibility: visible;
    opacity: 100;
    transition: all 1s;

    background-color: $color-primary;
    transform: rotate(45deg);
    animation: dot 3s linear infinite;
    @media only screen and(max-width: $bp-small){
      animation: dotMobile 3s linear infinite;
    }

  }


}
