$font-primary: "Chakra Petch";
$font-secondary: "Open Sans";

$color-primary: #D5008D;



$bp-large: 75em;                //1200px
$bp-large-medium: 62.5em;       //1000px
$bp-large-small: 50em;          //800px
$bp-medium: 37.5em;             //600px
$bp-small: 25em;                //400px
$bp-smallest: 18.75em;          //300px

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
  @media only screen and(max-width: $bp-large){
    font-size: 55%;
  }
  @media only screen and(max-width: $bp-medium){
    font-size: 50%;
  }
}
body{
  background-color: #000;
}
