$font-primary: "Chakra Petch";
$font-secondary: "Open Sans";

$color-primary: #D5008D;

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  background-color: #000;
}
