.top {
  z-index: -2;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  &__animation {
    position: relative;
    height: 100vh;
    overflow: hidden;
    &-vertical-right {
      z-index: 1;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      height: 8rem;
      width: 1px;
      background-color: #2e2e2e;
      overflow: hidden;
      &.full {
        height: 100%;
        transition: all .5s;
      }
      &.move {
        right: 5rem;
        height: 100%;
        transition: right 1s;
      }
    }
    &-vertical-left {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 0rem;
      width: 1px;
      background-color: #2e2e2e;
      overflow: hidden;
      &.full {
        //height: 100%;
        //transition: all .5s;
      }
      &.move {
        height: 100%;
        left: 5rem;
        height: 100%;
        transition: left 1s;
      }
    }
    &-vertical {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 8rem;
      width: 1px;
      background-color: #2e2e2e;
      &.move {
        display: none;
        background-color: transparent;
      }

      &:before {
        content: "";
        display: block;
        width: 5px;
        height: 0;
        background-color: #e21c61;
        transform: translateX(-3px);
        z-index: 1000;
      }
      &.active {
        &:before {
          height: 8rem;
          transition: all 1s;
        }
      }
      &.unactive {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &:before {

          height: 0rem;
          transition: height 1s;
        }
      }
    }
    &-horizontal-bottom {
      z-index: 1;
      overflow: hidden;
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8rem;
      height: 1px;
      background-color: #2e2e2e;
      &.full {
        width: 100%;
        transition: all .5s;

      }
      &.move {
        left:5rem;
        transform: translate(0,0);
        bottom: 5rem;
        //width: 100%;
        transition: bottom 1s;
      }
    }
    &-horizontal-top {
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0rem;
      height: 1px;
      background-color: #2e2e2e;
      &.full {
      }
      &.move {
        width: 100%;
        top: 5rem;

        transition: top 1s;
      }
    }
    &-horizontal {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8rem;
      height: 1px;
      background-color: #2e2e2e;

      &.move {
        display: none;
        background-color: transparent;
      }

      &:before {
        content: "";
        display: block;
        height: 5px;
        width: 0rem;
        background-color: #e21c61;
        transform: translateY(-3px);
        z-index: 11;

      }
      &.active {
        &:before {
          width: 8rem;
          transition: all 1s;
        }
      }
      &.unactive {
        display: flex;
        justify-content: flex-end;
        &:before {
          width: 0rem;
          transition: width 1s;
        }
      }

    }
    &-box {

      width: 100%;
      //height: 100%;
      &-border-top {
        position: absolute;
        padding: 5rem 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
      &-border-side {
        position: absolute;
        padding: 0 5rem;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
    }

  }
}
.top__left{
  position: absolute;
  top:5rem;
  left:5rem;
  border-top: 1px solid #803450;
  border-left: 1px solid #803450;
  width: 0rem;
  height: 0rem;
  z-index: -2;
  &.active{
    z-index: 10;
    width: 2rem;
    height: 2rem;
    transition: all .8s;
  }
}
.bottom__right{
  position: absolute;
  bottom:5rem;
  right:5.1rem;
  border-bottom: 1px solid #803450;
  border-right: 1px solid #803450;
  width: 0rem;
  height: 0rem;
  z-index: -2;
  &.active{
    z-index: 10;
    width: 2rem;
    height: 2rem;
    transition: all .8s;
  }
}
.top__right{
  position: absolute;
  top:5rem;
  right:5.1rem;
  border-top: 1px solid #803450;
  border-right: 1px solid #803450;
  width: 0rem;
  height: 0rem;
  z-index: -2;
  &.active{
    z-index: 10;
    width: 2rem;
    height: 2rem;
    transition: all .8s;
  }
}
.bottom__left{
  position: absolute;
  bottom:5rem;
  left:5rem;
  border-bottom: 1px solid #803450;
  border-left: 1px solid #803450;
  width: 0rem;
  height: 0rem;
  z-index: -2;
  &.active{
    z-index: 10;
    width: 2rem;
    height: 2rem;
    transition: all .8s;
  }
}
.w3-content{

  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.mySlides{
  position: absolute;

  transform: matrix(1,0,0,1,-700,0);
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &.active{
    opacity: 100;
    transform: matrix(1,0,0,1,0,0) !important;

    transition: transform 6s, opacity 4s;
  }
  //&.visible{
  //  opacity: 100;
  //  transition: opacity 2s;
  //  transition-delay: .5s;
  //}

}
.loading__box{
  position:absolute;
  top: 50%;
  left: 15rem;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  &.active{
    visibility: visible;
    opacity: 100;
    transition: all .5s;
  }
  &>*:not(:last-child){
    margin-bottom: 1.5rem;
  }
  &__bar{
    border-radius: 15px;
    width: 3rem;
    height: 3px;
    background-color: lightgray;
    &.active{
      width: 10rem;
    }
    &.pending{
      width: 10rem;
      transition: width 12s;
    }

  }
}
///// -----TOP HEADERS------
.top__header{
  z-index: 10;
  &-box {
    position: absolute;
    top: 40%;
    left: 20%;
  }
  &-item{
    &-header {
      z-index: 15;
      float: left;
      text-transform: uppercase;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 6rem;
      color: #fff;
      z-index: 10000;
      & span{
        font-size: 6rem;
        color: #fff;
        transform: rotateY(-90deg);
        float: left;
        &.active{
          transform: rotateY(0deg);
          transition: all .4s;
          //transition-delay: .s;
        }
      }

    }
  }
}
.reel__box{
  z-index: 10;
  position: absolute;
  top: 50%;
  right: 8rem;
  visibility: hidden;
  opacity: 0;

  &.active{
    right: 10rem;
    transform: translateX(-50%);
    visibility: visible;
    opacity: 100;
    transition: all 2s;
  }
  &-header{

    color: #fff;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 1.8rem;


  }
  &:before{

    content: "";
    display: block;
    width: 40%;
    height: .2rem;
    background-color: lightgray;
    transform: translate(-2rem, 1.3rem);
  }
}
.about__box{
  z-index: 10;
  position: absolute;
  bottom: 7rem;
  left: 50%;
  visibility: hidden;
  opacity: 0;

  &.active{
    bottom: 10rem;
    visibility: visible;
    opacity: 100;
    transition: all 2s;
  }
  &-header{
    color: #fff;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 1.8rem;
  }
  &:before{
    display: block;
    content: "";
    height: 2rem;
    width: .2rem;
    background-color: lightgray;
    transform: translateX(2.2rem);
  }
}
.see__box{
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 23%;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-53%);
  &.active{
    transform: translateX(-50%);
    visibility: visible;
    opacity: 100;
    transition: all 2s;
  }
  &-header{
    text-transform: uppercase;
    color: #fff;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 1.8rem;
    &:after{
      content: "";
      display: block;
      height: .2rem;
      width: 100%;
      background-color: lightgray;
    }
  }
}
.mySlides{
  z-index: 0;
}
.mySlides__background{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  &.active{
    visibility: visible;
    opacity: 100;
    transition: all 4s;
  }
}